<template name="dashboard">	
	<br/>	
	<span>You-->></span>
	<span>{{users_array.main.first_name}} {{users_array.main.last_name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	{{#each users_array.main.ratingArr}}
				<img src="singlestars.png" style="width:20px;height:20px;">
	{{/each}}
	<hr/>
	<h3>List of users</h3>
	<ul class="list-row">
	{{#each users_array.other}}
		<li data-backdrop="false">
       <div class="row">
		<div class="col-md-6">{{first_name}} {{last_name}}</div>
		<div class="col-md-6">
		{{#if ratingArr.length}}
			<div class="">
			{{#each ratingArr}}
				<img src="singlestars.png" style="width:20px;height:20px;">
			{{/each}}
			</div>
		{{else}}
		<a href="#" id="{{_id}}" class="open-insert-modal" data-backdrop="false">Rate user</a>
		{{/if}}
		</div>
		</div>
		</li>		
	{{/each}}
	</ul>

	<div id="insertModal" class="modal fade" style="margin-left: 25%;margin-top: 10%;width: 50%;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Rate User</h4>
        </div>
        <div class="modal-body">
			<form id="ratingsForm">
			    <div class="stars">
			        <input type="radio" name="star" class="star-1 myradios" value="1" id="star-1"/>
			        <label class="star-1" for="star-1">1</label>
			        <input type="radio" name="star" class="star-2 myradios" value="2" id="star-2"/>
			        <label class="star-2" for="star-2">2</label>
			        <input type="radio" name="star" class="star-3 myradios" value="3" id="star-3"/>
			        <label class="star-3" for="star-3">3</label>
			        <input type="radio" name="star" class="star-4 myradios" value="4" id="star-4"/>
			        <label class="star-4" for="star-4">4</label>
			        <input type="radio" name="star" class="star-5 myradios" value="5" id="star-5"/>
			        <label class="star-5" for="star-5">5</label>
			        <span></span>
			    </div>
			    <div style="text-align:center;width:100%;margin-top:30pt;">
			    	<input type="button" id="rateUser" class="btn" value="Ok" data-dismiss="modal">
			    </div>
			</form>
        </div>
    </div>
    </div>
</template>