<template name="dashboard_layout">
  <div class="container">
      {{> navbar}}

      <div class="row marketing">
        <div class="col-lg-12">
          {{> flashMessages}}
          {{> yield}}
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 @Dinesh Kumar</p>
      </footer>

  </div>
</template>