<head>
	<meta charset="utf-8">
	<title>Star Rating</title>
	<meta name="description" content="Read and create reviews for popular products">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1">
	<link rel="shortcut icon" type="image/png" href="favicon.png" sizes="16x16 32x32 64x64">
	<link rel="apple-touch-icon" sizes="120x120" href="icon.png">
</head>