<template name="login">
	<form class="form-signin">
      <img class="img-rounded" src="icon.png" alt="AuthApp Login Image">
      
      <h2 class="form-signin-heading">RateApp Login</h2>
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <br>
      <p>No Account? <a href="/register">Create An Account</a></p>
    </form>
</template>