<template name="register">
	<form class="form-signup">
            <img class="img-rounded" src="icon.png" alt="AuthApp Login Image">

            <h2 class="form-signup-heading">RateApp - Create An Account</h2>

            <label for="first_name" class="sr-only">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>

            <label for="last_name" class="sr-only">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>

            <label for="email" class="sr-only">Email address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

            <label for="password2" class="sr-only">Password Confirm</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="Password Confirm" required>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register">
            <br>
            <p>Have An Account? <a href="/">Login</a></p>
    </form>
</template>